.corner_close{
    color: red;
    position: fixed;
    cursor: pointer;
    font-size: 40px !important;
    padding:0 5px;
    right: 15px;
    top: 5px;
    background: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.ltr {
    direction: ltr;
}
.rtlplaceholder::placeholder{
text-align: right;
}
#talk_number{
    font-size: 12px;
    color: white;
    background: blueviolet;
    padding: 2px 4px;
    margin: 2px;
    border-radius: 9px;
    text-align: center;
}

#first_check{
    z-index: 8000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    color: blue;
    display: flex;
    /*display:none;*/
    align-items:center;
    justify-content:center
}
#first_check p{
    margin: 15px;
}
.w_item_wrapper{
    padding: 5px 10px;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-height: calc(100vh - 75px);*/
    width: 100%;
    max-width: 15cm;
}
.waiting_item{
    /*    display: flex;
        justify-content: space-between;
        border: 1px solid darkgray;
        border-radius: 12px;
        margin-bottom: 10px;
        font-size: 13px;*/
    display: flex;
    /*justify-content: space-between;*/
    border: 1px solid darkgray;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 13px;
    flex-direction: column;
    /*    width: 218px;*/
    width: 100%;
    padding: 5px 10px;
}
.w_i_title{
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}
.w_i_time{
    align-self: center;
    font-size: 15px;
    margin: 9px;
}
.w_i_statistics{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 14px;
}
.w_i_statistics>*{
    padding: 2px;
}
.accept_bt{
    padding:9px;
    margin: 5px auto 10px auto;
}






.live_div{
    width: 100vw;
    height: 100vh;
    /*max-width: 36cm;*/
}
.live_wrapper{
    width: 100%;
    height: 100%;
    /*max-height: 100vh;*/
    display: flex;
    /*flex-wrap: wrap;*/
}
.iframe_div{
    position: relative;
    /*border-left: 3px solid transparent;*/
    min-width: calc(100% - 11cm);
    max-width: calc(100% - 8cm);
    /*height: 100%;*/
    /*width: 75%;*/
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    /*background-color: #0091ea20;*/
}
.iframe_div iframe{
    width: 100%;
    height: 100%;
    /*height: calc(100% - 85px);*/
}
.chat_div{
    width: 25%;
    max-width: 11cm;
    min-width: 8cm;
    /*    height: 100%;*/
    height: 100vh;
    display: flex;
    /*background-color:antiquewhite;*/
    flex-direction:column;
}
.chat_sub_div{
    display: flex;
    flex-direction:column;
	position:relative;
}
/*.chat_sub_div:nth-child(2){
    overflow-y: auto;
    height: inherit;
}*/
#chat_sub2{
    overflow-y: auto;
    /*overflow-y: hidden;*/
    height: inherit;
}
.cam_div{
    width: 100%;
    display: flex;
    max-height: calc(50vh - 25px);
}
.cam_div>div{
    /*    width: 50%;*/
    width: 100%;
    /* *** set it by js to fit 3 x 4 ratio*/
    /*height: 100%;*/
    position: relative;
    pointer-events: none;
}
.cam_div video{
    width: 100%;
    height: 100%;
    background-color:white;
    object-fit: cover;
    transform: scaleX(-1);
}
.cam_div>div>span,.vi_sp{
    position: absolute;
    width: calc(100% - 5px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: darkgray;
    font-size: 12px;
    display: flex;
    justify-content: end;
    margin-left: -4px;
}
.name{
    top: 3px;
    left: 5px;
	direction:ltr;
}
.vi_sp{
    display: flex;
    /*    justify-content:space-between;*/
    padding:0 4px 2px 5px;
    left: 0;
    bottom: 0;
}
.vi_sp img{
    width: 16px;
    margin-left: 4px;
}
.controller_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.controller_div>*{
    /*height: 100%;*/
}
.controller_div .bt{
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
}
.controller_div .bt:hover{
    filter:brightness(.8);
}
#mobile_pm_bt,#add_remove_customer_bt{
    position: relative;
}
#mobile_pm_bt>span,#add_remove_customer_bt>span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    top: -75%;
    right: -75%;
    /*width: 22px;*/
    /*height: 22px;*/
    min-width: 20px;
    min-height: 20px;
    background: blue;
    padding:0 3px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
}
#mobile_pm_bt>span{
    background: mediumvioletred;
}
.slogan{
    display: flex;
    justify-content: center;
    background-color: royalblue;
    border-radius:7px 7px 0 0;
    padding: 0 0 4px 0;
    margin-top: auto;
    /*margin: 0 0 2px 0;*/
}
.slogan span{
    font-size: 12px;
    /*font-weight:bolder;*/
    color: white;
}
#message{
    margin: 0 5px;
    border-radius: 8px;
    width: calc(100% - 10px);
    padding:5px;
    display:inline-block;
    border: solid 1px darkgray;
    min-height: 50px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden

}
#message img{
    display: block;
    height:80px;
    width:80px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;   
}
.chat_bt_div{
    display: flex;
    justify-content: space-evenly;
}
#text_div{
    width: 100%;
    height: inherit;
    overflow-x: hidden;
    overflow-y:auto;
    padding: 5px;
    display: flex;
    flex-direction:column;
    /*flex: 1;*/
    /*flex: 0 1 auto;*/
}
.msg{
    padding: 5px;
    border:2px solid darkgray;
    border-radius: 10px;
    margin: 10px 0;
}
.msg.supporter{
    /*background-color: #9fffa029;*/
}
.msg.supporter .msg_header{
    background-color:#4bff4d;
}
.msg.customer{
    /*background-color:#58f5f229;*/
}
.msg.customer .msg_header{
    background-color:#91eceb;
}
.msg_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 5px;
    border-radius: 15px;
}
.msg_header>*{
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.msg_txt{
    font-size: 15px;
    display: block;
    padding: 1px 5px;
}
.msg_offer{
    display: flex;
    width: 100%;
    height: 80px;
    margin: 5px 0;
    border-radius: 7px;
    text-align: center;
    /*border: 1px solid darkgray;*/
    cursor: pointer;
    font-size: 16px;
    background: #f3f3f3;
}
.msg_offer:hover span{
    color: blue;
    /*font-size: 17px;*/
}
.msg_offer>img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}
.msg_offer>span{
    /*    overflow: hidden;
        text-overflow: ellipsis;
        padding: 5px;
        color: gray;
        display: flex;
        align-items: center;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    /*width: 190px;*/
    padding: 5px;
    color: dimgray;
    overflow: hidden;
}
.msg_link{
    margin: 5px 0;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    color: royalblue;
}
.msg_link>i{
    display: inline;
    margin: 5px;
}
/*#special_offer_bt{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}*/
#visited_bt{
    position: absolute;
    /*    bottom: 50px;
        left: 10px;*/
    bottom: 10px;
    right:25px;
    z-index: 1;
}
#open_link_bt{
    position: absolute;
    bottom: 10px;
    right:50%;
    z-index: 1;
}
.item_bar_div{
    display: flex;
    background-color: white;
    z-index: 2;
    height: 90px;
    width: 100%;
}
.item_bar_wrapper{
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    transform: rotateX(180deg);
}
.item_bar_item{
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 7px;
    margin: 4px;
    height: 70px;
    color: dimgray;
    max-height: 100%;
    transform: rotateX(180deg);
}
.item_bar_img{
    height: 100%;
    width: 70px;
    object-fit: cover;
    border-radius:0 6px 6px 0;
}
.item_bar_txt{
    display: flex;
    flex-direction: column;
}
.item_bar_txt>*{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    white-space: nowrap;
    padding:1px 5px 0 0;
}
.item_bar_inner_control{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.item_bar_inner_control>i{
    cursor: pointer;
    line-height: 30px;
    padding: 0 3px;
}
.item_bar_inner_control>i:hover{
    color: black;
}
.item_bar_control{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.item_bar_control>*{
    color: gray;
    width: 2em;
    cursor: pointer;
    line-height: 35px;
    margin: 0 3px;
}
.item_bar_control>*:hover{
    color:darkslategray;
}
.item_bar_refresh{
    font-size: 30px;
}

.hide{
    display:none !important;
}
.m_show{
    display: none;
}
.heigth_auto{
    height:auto;
}
@media only screen and (max-width:650px) {

    .m_show{
        display: initial;
    }   
    .m_hide{
        display: none;
    }
    .live_wrapper{
        flex-direction:column;
    }
    .chat_div{
        width: 100%;
        max-width: initial;
    }
    .iframe_div{
        min-width:100%;
    }
}
/*#iframe_bt_div{
    display: flex;
    position:absolute;
    bottom: 3px;
    right:calc(50% - 13px);
}*/
#product_favorite_bt{
    /*    display: flex;
        flex-direction:column;*/
    position:absolute;
    bottom: 5px;
    right:50%;
    /*font-size:25px;*/
}
#favorite_list_bt{    
    position:absolute;
    bottom: 5px;
    right:25px;
    /*font-size:25px;*/
}
/*#favorite_list_bt>a{
    color:white !important;
}*/
.star_rating{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.star_rating>div{
    margin: 25px 0;
}
.emoji{
    /*font-size: 70px;*/
    width: 150px;
}
.star_score{
    cursor: pointer;
    color: lightgray;
    /*font-size: calc(15px + .5vw);*/
    padding: 1px;
    width:5ex;
}
.thumb_bt{
    max-height: 25px;
    max-width: 25px;
    padding: 1px;
    margin: 0 0 3px 0;
    border: 1px solid gray;
    opacity: .7;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 1px 4px 0 rgb(0 0 0 / 19%);
}
.thumb_bt img{
    width: 100%;
    height: 100%;
}
.text_bt{
    display: inline-flex;
    color: white;
    max-height: 25px;
    align-items: center;
    font-size: 1.4ex;
    padding: 1px;
    margin: 3px;
    border: 1px solid gray;
    opacity: .7;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 1px 4px 0 rgb(0 0 0 / 19%);
}
.text_bt img{
    height: 100%;
    object-fit: contain;
    margin-left: 2px;
}
.thumb_bt::selection,.text_bt::selection{
    background: none;
}
.thumb_bt:hover,.text_bt:hover{
    opacity: 1;
}
.thumb_bt:active,.text_bt:active{
    background-color: bisque;
}
.middle_bt{display:flex;width:20px;margin:0 auto;cursor:pointer}.middle_bt img{width:100%}


.dot_menu{
        display: flex;
    position: relative;
}
.dot_menu_open{
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    z-index: 10;
	width:160px;
}
.dot_menu_open > *{
    margin: 7px 0;
}
.fit_width_auto_height_bt{
    width: 100% !important;
    max-height: 100px !important;
}
.video_mode3{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
}
.video_mode2{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    /*width: calc(100vw - 25% - 3px) !important;*/
    min-width: calc(100vw - 11cm);
    max-width: calc(100vw - 8cm);
    height: 100vh !important;
}
.video_mode1{
    z-index: 0 !important;
}
@media only screen and (max-width:650px){
    .video_mode2 , .video_mode3{
        transform: rotate(90deg);
        width: 100vh !important;
        height: 100vh !important;
    }
}



/* Vote */


#question_parent {
/*    width: 300px;
    min-height: 100px;*/
    border-radius: 5px;
	background:white;
	box-shadow: 0 0 5px dimgray;
}

#question_parent input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

#question_parent label {
	color: darkgray;
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 15px;
}

#question_parent input[type=radio]:checked+label {
    color: white;
    background: darkgray;
	border-radius: 10px;
}

.question_radio_group {
    /* border: solid 1.5px #00dfc4; */
    padding: 20px;
    border-radius: 2px;
    overflow: hidden;
    height: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question_box {
    position: block;
    /* background-color: #fff; */
    padding: 10px 10px;
}

#question_text_box {
    min-width: 98%;
    max-width: 98%;
    min-height: 80px;
	max-height: 250px;
	padding: 5px;
}

#answer_box {
    padding: 5px 0;
    width: 80%;
    margin: auto;
}


.accept_question_box {
    width: 100%;
    height: 50px;

    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.question_option img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
	cursor: pointer;
}

.question_option {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.question_option_input {
	box-shadow: 0 0 2px black;
    width: calc(100% - 40px);
    min-height: 40px;
    border-radius: 9px;
    padding: 3px;
}

#etc_div{
    display: flex;
    justify-content: center;
}
#survey_qty{
    min-width: 25px;
    min-height: 25px;
    background: gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}
#survey_div{
	width: 100%;
    height: 100%;
    background: url(../i/live_chat_pattern.svg),linear-gradient(225deg,rgb(247 219 251)0%,rgb(224 255 205)100%);
    position: absolute;
    z-index: 1;
	overflow: hidden;
	box-shadow: inset 0 0 7px dimgray;
    padding: 5px;
    border-radius: 9px;
}
.inner_close{
    /* color: red; */
    /* position: absolute; */
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* left: 0; */
    /* top: 0; */
    background: #eee;
    border-radius: 7px;
    border: 1px solid lightgray;
}

#survey_list_div{
	overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 30px 0;
}
 .question_list_option {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    box-shadow: 0 0 3px #555555;
    cursor: pointer;
	border-radius: 9px;
}
#sf_vote_box_container label {
    border-radius: 7px;
	cursor: pointer;
    color: gray;
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: bolder;
}
#sf_vote_box_container div {
    display: inline-block;
    margin: 3px;
}
#sf_vote_box_container input[type=radio], #sf_vote_box_container input[type=checkbox] {
    position: absolute;
    visibility: hidden;
    display: none;
}

#sf_vote_box_container input[type=radio]:checked+label,
#sf_vote_box_container input[type=checkbox]:checked+label {
    color: white;
    background: magenta;
}
.text_question_result{
	border: 2px solid lightgray;
    padding: 5px;
    margin: 5px;
    border-radius: 9px;
}
.text_question_result p{
	margin:5px 0;
}
.question_item{
	    box-shadow: 0 0 4px gray;
    margin: 9px;
    padding: 5px 10px;
    border-radius: 9px;
    color: dimgray;
	cursor:pointer;
}
#survey_head{
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: darkslategray;
    
}
.waiting_username_div{
	display:inline-flex;
}
.waiting_username{
	direction:ltr;
}
#dialog_body canvas{
	min-width:90vw;
}












